<div class="content-page">
  <div class="row">
    <div class="col s12 m8">
      <div class="box">
        <div class="header">
          <h2 class="title">{{boxTitle}}</h2>
        </div>
        <div class="content">
          <form (ngSubmit)="onSubmitProfile()" #profileForm="ngForm">
            <div class="row">
              <div class="input-field col s6">
                <input id="name" name="name" type="text" class="validate" [(ngModel)]="profile.name">
                <label for="name" [ngClass]="{'active': profile.name }">Nombre</label>
              </div>
              <div class="input-field col s6">
                <input id="surname" name="surname" type="text" class="validate" [(ngModel)]="profile.surname">
                <label for="surname" [ngClass]="{'active': profile.surname }">Apellidos</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="adress" name="adress" type="text" class="validate" [(ngModel)]="profile.adress">
                <label for="adress" [ngClass]="{'active': profile.adress }">Dirección</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                <input id="city" name="city" type="text" class="validate" [(ngModel)]="profile.city">
                <label for="city" [ngClass]="{'active': profile.city }">Ciudad</label>
              </div>
              <div class="input-field col s4">
                <input id="country" name="country" type="text" class="validate" [(ngModel)]="profile.country">
                <label for="country" [ngClass]="{'active': profile.country }">País</label>
              </div>
              <div class="input-field col s4">
                <input id="zipCode" name="zipCode" type="text" class="validate" [(ngModel)]="profile.zipCode">
                <label for="zipCode" [ngClass]="{'active': profile.zipCode }">Código postal</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="email" name="email" type="email" class="validate" [(ngModel)]="profile.email" required>
                <label for="email" [ngClass]="{'active': profile.email }">Email</label>
              </div>
              <div class="input-field col s6">
                <input id="phone" name="phone" type="text" class="validate" [(ngModel)]="profile.phone">
                <label for="phone" [ngClass]="{'active': profile.phone }">Teléfono</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="biography" name="biography" class="materialize-textarea" [(ngModel)]="profile.biography">{{profile.biography}}</textarea>
                <label for="biography" [ngClass]="{'active': profile.biography }">Biografía</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <div *ngIf="loadingProfileForm" class="progress">
                    <div class="indeterminate"></div>
                </div>
                <button *ngIf="!loadingProfileForm" class="btn waves-effect waves-light" [disabled]="!profileForm.form.valid || profileForm.form.pristine" type="submit">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
        <div class="box">
          <div class="header">
            <h2 class="title">{{boxPasswordTitle}}</h2>
          </div>
          <!-- <div *ngIf="changePasswordError" class="card-panel red darken-3">
            <ul>
              <li>
                <i class="material-icons">highlight_off</i> {{changePasswordError}}
              </li>
            </ul>
          </div> -->
          <div class="content">
            <form (ngSubmit)="onSubmitChangePassword(passwordForm.value,passwordForm.valid)" #passwordForm="ngForm">
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" name="password" type="text" class="validate" [(ngModel)]="changePassword.password" #oldPassword="ngModel" required>
                  <label for="password" [ngClass]="{'active': changePassword.password }">Contraseña actual</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input [disabled]="!oldPassword.valid" id="newPassword" name="newPassword" type="password" class="" [ngClass]="{'valid': newPassword.valid && newPassword.touched, 'invalid': !newPassword.valid && newPassword.touched }" [(ngModel)]="changePassword.newPassword" #newPassword="ngModel" required passwordCustom>
                  <label for="newPassword" [ngClass]="{'active': changePassword.newPassword }">Contraseña nueva</label>
                  <span class="red-text text-darken-3" *ngIf="!newPassword.valid && newPassword.touched && oldPassword.valid">Debe contener un número, una minúscula, una mayúscula y tener de 6 a 20 caracteres</span>
                </div>
                <div class="input-field col s12">
                  <input [disabled]="!newPassword.valid" id="newPasswordRepeat" name="newPasswordRepeat" type="password" class="" [ngClass]="{'valid': newPasswordRepeat.valid && newPasswordRepeat.touched, 'invalid': !newPasswordRepeat.valid && newPasswordRepeat.touched }" [(ngModel)]="changePassword.newPasswordRepeat" #newPasswordRepeat="ngModel" required passwordCustom>
                  <label for="newPasswordRepeat" [ngClass]="{'active': changePassword.newPasswordRepeat }">Repetir contraseña</label>
                  <span class="red-text text-darken-3" *ngIf="!newPasswordRepeat.valid && newPasswordRepeat.touched && newPassword.valid || !changePasswordError.success">{{changePasswordError.value}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div *ngIf="loadingPasswordForm" class="progress">
                      <div class="indeterminate"></div>
                  </div>
                  <button *ngIf="!loadingPasswordForm" class="btn waves-effect waves-light" [disabled]="!passwordForm.form.valid || passwordForm.form.pristine" type="submit">Aplicar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
    <div class="col s12 m4">
      <div class="box">
        <div class="image">
          <img class="responsive-img" src="https://img.grouponcdn.com/seocms/4RATBJKEKhsDyRmXnyiD2svdxo2r/summer-madrid-groupon_jpg-1024x623" alt="">
        </div>
        <div class="content">
          <div class="photo-author">
            <a (click)="openModal()">
              <span class="avatarHover">
                <img class="avatar" [src]="['http://localhost:8888/api/assets/user/avatar/'+profile.avatar]">
              </span>
            </a>
            <h2 class="title">
              {{profile.name}} {{profile.surname}}
              <small>{{profile.user}}</small>
            </h2>
          </div>
          <blockquote>{{profile.biography}}</blockquote>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalEditAvatar" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Subir avatar</h4>
    <div class="file-field input-field">
      <div class="btn">
        <span>Seleccionar</span>
        <input type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="startUpload()">Actualizar</a>
  </div>
</div>

<app-alert-modal *ngIf="loadModal" [modalCustom]="modalCustom" (onLoadModalEmit)="onLoadModalEmit($event)"></app-alert-modal>
