form button[type="submit"]{
  float: right;
}

.box .content .photo-author {
    text-align: center;
    text-transform: none;
    margin-top: -70px;
    font-size: 12px;
    font-weight: 600;
}
.box .content .photo-author .avatar {
  width: 124px;
  height: 124px;
  border: 5px solid #FFFFFF;
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}
.box .content .photo-author .title small{
  display: block;
  color: #9A9A9A;
}
