<div class="content-page">
  <div class="row">
    <div class="col s12">
      <div class="box">
        <div class="image">
          <img class="responsive-img" src="https://img.grouponcdn.com/seocms/4RATBJKEKhsDyRmXnyiD2svdxo2r/summer-madrid-groupon_jpg-1024x623" alt="">
        </div>
        <div class="content">
          <div class="photo-author">
            <a href="#!user">
              <img *ngIf="profile.avatar" class="avatar" [src]="[profile.avatar]">
              <img *ngIf="!profile.avatar" class="avatar" [src]="[avatarNotFoundWoman]">
            </a>
            <h2 class="title">
              {{profile.name}} {{profile.surname}}
              <small>{{profile.user}}</small>
            </h2>
          </div>
          <table>
            <!-- <thead>
              <tr>
                <th>Name</th>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead> -->
            <tbody>
              <tr>
                <td>Email</td>
                <td>{{profile.email}}</td>
              </tr>
              <tr>
                <td>Teléfono</td>
                <td>{{profile.phone}}</td>
              </tr>
              <tr>
                <td>Ciudad</td>
                <td>{{profile.city}}</td>
              </tr>
              <tr>
                <td>País</td>
                <td>{{profile.country}}</td>
              </tr>
            </tbody>
          </table>
          <blockquote>{{profile.biography}}</blockquote>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
