<div class="card horizontal">
  <div class="card-image">
    <img *ngIf="profile.avatar" class="avatar" [src]="['http://localhost:8888/api/assets/user/avatar/'+profile.avatar]">
    <img *ngIf="!profile.avatar" class="avatar" [src]="[avatarNotFoundWoman]">
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <h2 class="title">
        {{profile.name}} {{profile.surname}}
        <small>{{profile.user}}</small>
      </h2>
      <p>{{profile.city}} {{profile.country}}</p>
    </div>
    <div class="card-action">
      <a href="#">Mensaje</a>
      <a [routerLink]="['/profile/'+profile.user]" routerLinkActive="active" class="collection-item">Perfil</a>
      <a *ngIf="type == 'allUsers'" (click)="onClickAddContact($event,profile.id)" class="add-user-link">Añadir</a>
      <a *ngIf="type == 'contactsRequests'" (click)="onClickAcceptContact($event,profile.id)" class="add-user-link">Acceptar</a>
    </div>
  </div>
</div>
