<div class="box">
  <div class="header">
    <h2 class="title center-align">{{title}}</h2>
  </div>
  <div class="content">
    <!-- <button id="google-login-button" (click)="googleAuthenticate()" class="btn waves-effect waves-light" >Login Google</button>
    <button class="btn btn-danger" (click)="logout()">Logout</button> -->
    <div *ngIf="errorLoginUI.length > 0" class="card-panel red darken-3">
      <ul>
        <li *ngFor="let error of errorLoginUI">
          <i class="material-icons">highlight_off</i> {{error}}
        </li>
      </ul>
    </div>
    <form *ngIf="this.isSignInShow" (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="row">
        <div class="input-field col s12">
          <input id="user" name="user" type="text" class="" [(ngModel)]="user.user">
          <label for="user">User</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="" [(ngModel)]="user.password">
          <label for="password">Contraseña</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div *ngIf="loadingForm" class="progress">
              <div class="indeterminate"></div>
          </div>
          <button *ngIf="!loadingForm" class="btn waves-effect waves-light" type="submit">Acceder</button>
          <button *ngIf="!loadingForm" (click)="onSignUp()" class="btn waves-effect waves-light">Registrarse</button>
        </div>
      </div>
    </form>
    <div *ngIf="this.isSignUpShow" class="">
      <button id="google-login-button" (click)="googleAuthenticate()" class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Login Google</button>
      <button class="btn btn-danger" (click)="logout()">Logout</button>
      <button (click)="onSignIn()" class="btn waves-effect waves-light">Ya tengo cuenta</button>
    </div>
  </div>
</div>
